STREAM_API_KEY=<your-key>
STREAM_API_SECRET=<your-secret>

DB_URL=<your-db-url>

CLERK_PUBLISHABLE_KEY=<your-secret>
CLERK_SECRET_KEY=sk_test_BWqjsAuS5vJEjcaM5tAVAOiGnJt6fvwH9aKQC667zm

INNGEST_SIGNING_KEY=<your-secret>

PORT=8000
NODE_ENV=development